<p>child-edit works!</p>
<div>

  <div [hidden]="submitted">
    <h1>Edit child</h1>
    <form (ngSubmit)="onSubmit()" #childForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.data.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="birthDate">Birth date</label>
        <input type="date" class="form-control" id="birthDate" required
               [(ngModel)]="model.data.birthDate" name="birthDate" #birthDate="ngModel">
        <div [hidden]="birthDate.valid || birthDate.pristine"
             class="alert alert-danger">
          Birth date is required
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Child gender</label>
        <select class="form-control" id="gender"
                required
                [(ngModel)]="model.data.gender" name="gender"
                #gender="ngModel">
          <option *ngFor="let gen of genderOptions" [value]="gen">{{gen}}</option>
        </select>
        <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
          Gender is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!childForm.form.valid">Save</button>
    </form>
  </div>
</div>
