<table>
  <thead>
  <th>Name</th>
  <th>Birth Date</th>
  <th>Gender</th>
  <th>Id</th>
  </thead>
  <tbody>
  <tr *ngFor="let child of children">

    <td>{{child.data.name}}</td>
    <td>{{child.data.birthDate}}</td>
    <td>{{child.data.gender}}</td>
    <td>{{child.id}}</td>
    <td>
      <a routerLink="/childEdit/{{child.id}}">Edit child</a>
    </td>
    <td>
      <button (click)="delete(child.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<a routerLink="/childAdd">Add child</a>
<br>
<button (click)="logout()">Logout</button>
